@import url('https://fonts.googleapis.com/css2?family=Joan&family=Tapestry&display=swap');
.calendar {
    width:33%;
    Height:33%;
}
.logohome {
    width: 32.3%;
    height: 32.3%;
}
.threads {
    width:33%;
    height:33%;
}
#announcements {
    text-align: center;
}
.welcome {
    font-size: 10px;
    padding-left:33.33%;
    padding-right: 33.33%;
}
.announcement-header {
    font-size: 16px;
}
.announcement-text {
    font-size: 14px
}