@import url('https://fonts.googleapis.com/css2?family=Joan&family=Tapestry&display=swap');


.grid {
    display: grid;
    grid-template-columns: 33.33% 33.33% / 1fr 1fr 1fr;
    grid-template-rows: 33.33vw 33.33vw / 1fr 1fr 1fr;
    grid-template-areas:
        "calendar logohome threads"
        ". welcome ."
        "announcement announcement announcement"
    ;
    grid-template-columns: calc(100% / 3)
}

.calendar {
    grid-area: calendar;
    height: auto;
    grid-column: 1 / 2;
    justify-content: center;
}

.logohome {
    grid-area: logohome;
    height: auto;
    grid-column: 2 / 3;
    justify-content: center;
}

.threads {
    grid-area: threads;
    height: auto;
    grid-column: 3 / 4;
    justify-content: center;
}

.welcome {
    grid-area: welcome;
    width: auto;
    text-align: center;
}

.announcement {
    width: auto;
    grid-area: announcement;
    justify-content: center;
}

.announcement-header {

    text-align: center;
}

.announcement-contents {

  
    text-align: center;
}

.cd {
    object-fit: cover;
    width: 33.33vw;
    height: 33.33vw;
    display: block;
}

.lg {
    object-fit: cover;
    width: 33.33vw;
    height: 33.33vw;
    display: block;
}

.td {
    object-fit: cover;
    width: 33.33vw;
    height: 33.33vw;
    display: block;
}





.announcement-header {
    text-size-adjust: auto;
}

.announcement-contents {
    text-size-adjust: auto;
}