@import url('https://fonts.googleapis.com/css2?family=Joan&family=Tapestry&display=swap');


.grid {
    display: grid;
    height: 100vh;
    width: 100vw;

    grid-template-areas:
        "calendar logohome threads"
        ". welcome ."
        "announcement announcement announcement"
    ;}

.calendar {
    grid-area: calendar;
    height: auto;

    justify-content: center;
}

.logohome {
    grid-area: logohome;
    height: auto;

    justify-content: center;
}

.threads {
    grid-area: threads;
    height: auto;

    justify-content: center;
}

.welcome {
    grid-area: welcome;
    width: auto;
    text-align: center;
}

.announcement {
    width: auto;
    grid-area: announcement;
    justify-content: center;
}

.announcement-header {

    text-align: center;
}

.announcement-contents {

  
    text-align: center;
}

.cd {
    object-fit: cover;
    width: 33.33vw;
    height: 33.33vw;
    display: block;
}

.lg {
    object-fit: cover;
    width: 33.33vw;
    height: 33.33vw;
    display: block;
}

.td {
    object-fit: cover;
    width: 33.33vw;
    height: 33.33vw;
    display: block;
}





.announcement-header {
    text-size-adjust: auto;
}

.announcement-contents {
    text-size-adjust: auto;
}