@import url('https://fonts.googleapis.com/css2?family=Joan&family=Tapestry&display=swap');
h2
{
    border: 1px solid black;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    display:block;
    background: white;
}

.grid {
    display: grid;
    grid-template-areas: ". threadss ."


}

.threadss {
    grid-area: threadss;
    height: auto;
    width: auto;
    justify-content: center;
    object-fit: cover;
    display: block;
}

.announcement-header {

    font-size: auto;
    text-align: center;
}
.announcement-header {
    text-size-adjust: auto;
}